// Booststrap functions and variables
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

// Template variables
@import './variables';

// Bootstrap main SCSS
@import 'bootstrap/scss/bootstrap.scss';

// Template mixins
@import './mixins/animation';
@import './mixins/badges';
@import './mixins/blockquote';
@import './mixins/breadcrumbs';
@import './mixins/buttons';
@import './mixins/cards';
@import './mixins/misc';
@import './mixins/no_ui_slider';
@import './mixins/pagination';
@import './mixins/popovers';
@import './mixins/tooltips';
@import './mixins/width';

// Core styles
@import './background';
@import './reset';
@import './functions';
@import './footer';
@import './misc';
@import './utilities';
@import './demo';
@import './typography';
@import './spinner';

@import './vertical-wrapper';
@import './navbar';
@import './sidebar';
@import './layouts';

// components
@import "./components/accordions";
@import "./components/badges";
@import "./components/bootstrap-alert";
@import "./components/breadcrumbs";
@import "./components/buttons";
@import "./components/cards";
@import "./components/carousel";
@import "./components/checkbox-radio";
@import "./components/dashboard";
@import "./components/datepicker";
@import "./components/dropdown";
@import "./components/forms";
@import "./components/icons";
@import "./components/input-group";
@import "./components/list-group";
@import "./components/modal";
@import "./components/nav";
@import "./components/pagination";
@import "./components/popover";
@import "./components/profile";
@import "./components/rating";
@import "./components/tables";
@import "./components/timeline";
@import "./components/chat";
@import "./components/faq";
@import "./components/auth";


// Plugin styles
@import "highlight.js/styles/googlecode.css";
// @import url("//at.alicdn.com/t/font_o5hd5vvqpoqiwwmi.css"); //(feather-font). github https://github.com/AT-UI/feather-font
@import "../fonts/feather/style.css";
@import "@mdi/font/css/materialdesignicons.min.css";
@import 'animate.css/animate.min.css';
@import "@ng-select/ng-select/themes/default.theme.css";
@import "../../../node_modules/metismenujs/dist/metismenujs.css";
@import 'ngx-toastr/toastr';

// Plugin overrides
@import "./components/plugin-overrides/ng-select";