<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h2 class="mb-3 mb-md-0">{{ 'Areas' | translate }}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'Search' | translate }}</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="{{ 'Search' | translate }}" #input />
    </mat-form-field>
  </div>
  <div class="col-md-5"></div>
  @if (showAccept) {
    <div class="col-md-4">
      <div style="text-align: end" class="add_popup_btn">
        <a href="javascript:void(0);" class="btn btn-own mb-2" (click)="openModal(content)">
          {{ 'Add Area' | translate }}
        </a>
      </div>
    </div>
  }
</div>

<ng-template #content role="document" let-modal="close">
  <div class="modal-header">
    @if (!isEdit) {
      <h5 class="modal-title">{{ 'Add Area' | translate }}</h5>
    }
    @if (isEdit) {
      <h5 class="modal-title">{{ 'Edit Area' | translate }}</h5>
    }
    <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
      <span aria-checked="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-3">
    <form [formGroup]="areaForm">
      <div class="form-group">
        <label for="name">{{ 'AreaName' | translate }}</label>
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'Enter area name' | translate }}"
          formControlName="areaName"
          [ngClass]="{ 'is-invalid': submitted && f.areaName.errors }"
        />
        @if (submitted && f.areaName.errors) {
          <div class="invalid-feedback">
            @if (f.areaName.errors.required) {
              <div>{{ 'Name is required' | translate }}</div>
            }
          </div>
        }
      </div>
      <div class="form-group">
        <label for="name">{{ 'AreaNameAr' | translate }}</label>
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'Enter area name' | translate }}"
          formControlName="arAreaName"
          [ngClass]="{ 'is-invalid': submitted && f.arAreaName.errors }"
        />
        @if (submitted && f.arAreaName.errors) {
          <div class="invalid-feedback">
            @if (f.arAreaName.errors.required) {
              <div>{{ 'Name is required' | translate }}</div>
            }
          </div>
        }
      </div>
    </form>
    <div class="text-right">
      <button type="submit" class="btn btn-own" (click)="onSubmitData()">{{ 'Save' | translate }}</button>
      <button type="button" class="btn btn-own-cancel ml-1" (click)="modal('close click')">
        {{ 'Cancel' | translate }}
      </button>
    </div>
  </div>
</ng-template>

<div class="mat-elevation-z8">
  <table class="table" mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'S.No' | translate }}</th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{ matPaginator.pageSize * matPaginator.pageIndex + i + 1 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="areaName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'AreaName' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.areaName }}</td>
    </ng-container>

    <ng-container matColumnDef="arAreaName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'AreaNameAr' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.arAreaName }}</td>
    </ng-container>

    <ng-container matColumnDef="rowActionToggle">
      <th mat-header-cell *matHeaderCellDef>{{ 'Status' | translate }}</th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <button (change)="changeStatus(element)" class="tog_btn">
          <span class="switch">
            @if (element.active !== 1) {
              <input unchecked type="checkbox" />
            }
            @if (element.active === 1) {
              <input checked type="checkbox" />
            }
            <span class="slider"></span>
          </span>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="rowActionIcon">
      <th mat-header-cell *matHeaderCellDef>{{ 'Action' | translate }}</th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <button mat-button (click)="areaWithPin(element.id)" class="simi_btn">
          @if (showAccept) {
            <span>{{ 'Add Pin to this Area' | translate }}</span>
          }
          @if (!showAccept) {
            <span>{{ 'PinArea' | translate }}</span>
          }
        </button>
        @if (showAccept) {
          <span>
            <button mat-button (click)="editArea(element, content)" class="edit_btn">
              <img
                src="assets/images/edit_icon.svg"
                onmouseover="this.src = 'assets/images/edit_hover_icon.svg'"
                onmouseout="this.src = 'assets/images/edit_icon.svg'"
                alt="Edit"
              />
            </button>
          </span>
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-center" colspan="6">{{ 'No data found' | translate }}</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 25]" showFirstLastButtons></mat-paginator>
</div>
