@use "sass:color";

// Breadcrumb color variations
@mixin breadcrumb-inverse-variant($color) {
  background: color.adjust($color, $lightness: 25%);
  border-color: $color;

  .breadcrumb-item {
    color: $color;

    &:before {
      color: inherit;
    }

    a {
      color: inherit;
    }
  }
}