<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h2 class="mb-3 mb-md-0">{{ 'Create New User' | translate }}</h2>
  </div>
</div>
<div class="row top_margin">
  <div class="col-md-4">
    <div class="text-center add_popup_btn">
      <a href="javascript:void(0);" class="btn btn-own mb-2" (click)="addNormalUser(content)">
        {{ 'CreateNormalUser' | translate }}
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="text-center add_popup_btn">
      <a href="javascript:void(0);" class="btn btn-own mb-2" (click)="addEmployee(employeeContent)">
        {{ 'CreateEmployee' | translate }}
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="text-center add_popup_btn">
      <a href="javascript:void(0);" class="btn btn-own mb-2" (click)="addMerchant(merchantContent)">
        {{ 'CreateMerchant' | translate }}
      </a>
    </div>
  </div>
</div>

<ng-template #content role="document" let-modal="close">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'CreateNormalUser' | translate }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
      <span aria-checked="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-3">
    <form [formGroup]="normalUserForm">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <p class="text-center">
              <label for="name">{{ 'PhoneNumber' | translate }}</label>
            </p>
            <div class="row">
              <div class="col-md-3">
                <input type="text" class="form-control" value="+973" readonly />
              </div>
              <div class="col-md-9">
                <input
                  type="number"
                  class="form-control"
                  placeholder="{{ 'PhoneNumber' | translate }}"
                  formControlName="mobileNumber"
                  onKeyPress="if(this.value.length==8) return false;"
                  [ngClass]="{ 'is-invalid': submitted && f['mobileNumber'].errors }"
                />
                @if (submitted && f['mobileNumber'].errors) {
                  <div class="invalid-feedback">
                    @if (f['mobileNumber'].errors['required']) {
                      <div>{{ 'MobileisRequired' | translate }}</div>
                    }
                    @if (f['mobileNumber'].errors['pattern']) {
                      <div>{{ 'EightDigitsAllowed' | translate }}</div>
                    }
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="text-right">
      <button type="submit" class="btn btn-own" (click)="onSubmitData()">{{ 'Save' | translate }}</button>
      <button type="button" class="btn btn-own-cancel ml-1" (click)="modal('close click')">
        {{ 'Cancel' | translate }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #employeeContent role="document" let-modal="close">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'CreateEmployee' | translate }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
      <span aria-checked="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-3">
    <form [formGroup]="employeeForm">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <p class="text-center">
              <label for="name">{{ 'PhoneNumber' | translate }}</label>
            </p>
            <div class="row">
              <div class="col-md-3">
                <input type="text" class="form-control" value="+973" readonly />
              </div>
              <div class="col-md-9">
                <input
                  type="number"
                  class="form-control"
                  placeholder="{{ 'PhoneNumber' | translate }}"
                  formControlName="mobileNumber"
                  onKeyPress="if(this.value.length==8) return false;"
                  [ngClass]="{ 'is-invalid': submitted && empf.mobileNumber.errors }"
                />
                @if (submitted && empf['mobileNumber'].errors) {
                  <div class="invalid-feedback">
                    @if (empf['mobileNumber'].errors['required']) {
                      <div>{{ 'MobileisRequired' | translate }}</div>
                    }
                    @if (empf['mobileNumber'].errors['pattern']) {
                      <div>{{ 'EightDigitsAllowed' | translate }}</div>
                    }
                  </div>
                }
              </div>
            </div>
          </div>
          <div class="form-group">
            <p class="text-center">
              <label for="name">{{ 'employeeNumber' | translate }}</label>
            </p>
            <input
              type="text"
              class="form-control"
              formControlName="employeeNumber"
              placeholder="{{ 'EnterEmployeeNumber' | translate }}"
              [ngClass]="{ 'is-invalid': submitted && empf.employeeNumber.errors }"
            />
            @if (submitted && empf['employeeNumber'].errors) {
              <div class="invalid-feedback">
                @if (empf['employeeNumber'].errors['required']) {
                  <div>{{ 'EmployeeNumberisRequired' | translate }}</div>
                }
              </div>
            }
          </div>
        </div>
      </div>
    </form>
    <div class="text-right">
      <button type="submit" class="btn btn-own" (click)="onSubmitEmployeeData()">{{ 'Save' | translate }}</button>
      <button type="button" class="btn btn-own-cancel ml-1" (click)="modal('close click')">
        {{ 'Cancel' | translate }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #merchantContent role="document" let-modal="close">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'CreateMerchant' | translate }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
      <span aria-checked="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-3">
    <form [formGroup]="merchantForm">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <p class="text-center">
              <label for="name">{{ 'PhoneNumber' | translate }}</label>
            </p>
            <div class="row">
              <div class="col-md-3">
                <input type="text" class="form-control" value="+973" readonly />
              </div>
              <div class="col-md-9">
                <input
                  type="number"
                  class="form-control"
                  placeholder="{{ 'PhoneNumber' | translate }}"
                  formControlName="mobileNumber"
                  onKeyPress="if(this.value.length==8) return false;"
                  [ngClass]="{ 'is-invalid': submitted && merchantf.mobileNumber.errors }"
                />
                @if (submitted && merchantf['mobileNumber'].errors) {
                  <div class="invalid-feedback">
                    @if (merchantf['mobileNumber'].errors['required']) {
                      <div>{{ 'MobileisRequired' | translate }}</div>
                    }
                    @if (merchantf['mobileNumber'].errors['pattern']) {
                      <div>{{ 'EightDigitsAllowed' | translate }}</div>
                    }
                  </div>
                }
              </div>
            </div>
          </div>
          <div class="form-group">
            <p class="text-center">
              <label for="name">{{ 'crNumber' | translate }}</label>
            </p>
            <input
              type="text"
              class="form-control"
              formControlName="crNumber"
              placeholder="{{ 'EnterCRNumber' | translate }}"
              [ngClass]="{ 'is-invalid': submitted && merchantf.crNumber.errors }"
            />
            @if (submitted && merchantf['crNumber'].errors) {
              <div class="invalid-feedback">
                @if (merchantf['crNumber'].errors['required']) {
                  <div>{{ 'CRNumberRequired' | translate }}</div>
                }
              </div>
            }
          </div>
        </div>
      </div>
    </form>
    <div class="text-right">
      <button type="submit" class="btn btn-own" (click)="onSubmitMerchantData()">{{ 'Save' | translate }}</button>
      <button type="button" class="btn btn-own-cancel ml-1" (click)="modal('close click')">
        {{ 'Cancel' | translate }}
      </button>
    </div>
  </div>
</ng-template>
