<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h2 class="mb-3 mb-md-0">{{ 'Admin Users' | translate }}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'Search' | translate }}</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="{{ 'Search' | translate }}" #input />
    </mat-form-field>
  </div>
  @if (showAccept) {
    <div class="col-md-6">
      <div style="text-align: end" class="add_popup_btn">
        <a href="javascript:void(0);" class="btn btn-own mb-2" (click)="openModal(content)">
          {{ 'Add Admin User' | translate }}
        </a>
      </div>
    </div>
  }
</div>

<ng-template #content role="document" let-modal="close">
  <div class="modal-header">
    @if (!isEdit) {
      <h5 class="modal-title">{{ 'Add Admin User' | translate }}</h5>
    }
    @if (isEdit) {
      <h5 class="modal-title">{{ 'Edit Admin User' | translate }}</h5>
    }
    <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
      <span aria-checked="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-3">
    <form [formGroup]="adminUserForm">
      <div class="form-group">
        <label for="name">{{ 'Email Id' | translate }}</label>
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'Email Id' | translate }}"
          formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        />
        @if (submitted && f.email.errors) {
          <div class="invalid-feedback">
            @if (f.email.errors.required) {
              <div>{{ 'EmailIdRequired' | translate }}</div>
            }
          </div>
        }
      </div>
      <div class="form-group">
        <label for="name">{{ 'Password' | translate }}</label>
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'Password' | translate }}"
          formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
        />
        @if (submitted && f.password.errors) {
          <div class="invalid-feedback">
            @if (f.password.errors.required) {
              <div>{{ 'PasswordRequired' | translate }}</div>
            }
          </div>
        }
      </div>
      <div class="form-group">
        <label for="name">{{ 'User Types' | translate }}</label>
        <select
          class="form-control"
          class="form-control"
          formControlName="userType"
          [ngClass]="{ 'is-invalid': submitted && f.userType.errors }"
        >
          <option value="1">{{ 'Poultry' | translate }}</option>
          <option value="2">{{ 'Feeding' | translate }}</option>
        </select>
        @if (submitted && f.userType.errors) {
          <div class="invalid-feedback">
            @if (f.userType.errors.required) {
              <div>{{ 'Select Type is required' | translate }}</div>
            }
          </div>
        }
      </div>
      <div class="form-group">
        <label for="name">{{ 'SelectRole' | translate }}</label>
        <select
          #nesub
          class="form-control"
          formControlName="roles"
          [ngClass]="{ 'is-invalid': submitted && f.roles.errors }"
        >
          <option selected disabled>{{ 'SelectRole' | translate }}</option>
          @for (item of getRoles; track item) {
            <option value="{{ item.id }}">{{ item.roleName }}</option>
          }
        </select>
        @if (submitted && f.roles.errors) {
          <div class="invalid-feedback">
            @if (f.roles.errors.required) {
              <div>{{ 'Select Role is required' | translate }}</div>
            }
          </div>
        }
      </div>
    </form>
    <div class="text-right">
      <button type="submit" class="btn btn-own" (click)="onSubmitData()">{{ 'Save' | translate }}</button>
      <button type="button" class="btn btn-own-cancel ml-1" (click)="modal('close click')">
        {{ 'Cancel' | translate }}
      </button>
    </div>
  </div>
</ng-template>

<div class="mat-elevation-z8">
  <table class="table" mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'S.No' | translate }}</th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{ matPaginator.pageSize * matPaginator.pageIndex + i + 1 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Email Id' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Password' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.password }}</td>
    </ng-container>

    <ng-container matColumnDef="userType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'User Types' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        @if (element.userType === 1) {
          <span>{{ 'Poultry' | translate }}</span>
        }
        @if (element.userType === 2) {
          <span>{{ 'Feeding' | translate }}</span>
        }
        @if (element.userType === 3) {
          <span>{{ 'BothFlow' | translate }}</span>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Role Name' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ getNameById(element.roles) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="rowActionIcon">
      <th mat-header-cell *matHeaderCellDef>{{ 'Action' | translate }}</th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <button mat-button (click)="editAdminUser(element, content)" class="edit_btn">
          <img
            src="assets/images/edit_icon.svg"
            onmouseover="this.src = 'assets/images/edit_hover_icon.svg'"
            onmouseout="this.src = 'assets/images/edit_icon.svg'"
          />
        </button>
        <!-- <button mat-button (click)="deleteAdminUser(element.id)" class="dele_btn">
          {{"Delete" | translate}}
        </button> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-center" colspan="7">{{ 'No data found' | translate }}</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 25]" showFirstLastButtons></mat-paginator>
</div>
