<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h2 class="mb-3 mb-md-0">{{"Pin" | translate}}</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <mat-form-field appearance="standard">
            <mat-label>{{"Search" | translate}}</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="{{'Search' | translate}}" #input>
        </mat-form-field>
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-4" *ngIf="showAccept">
        <div style="text-align:end;" class="add_popup_btn">
            <a href="javascript:void(0);" class="btn btn-own mb-2" (click)="openModal(content)">
                {{"Add Pin" | translate}}
            </a>
        </div>
    </div>
</div>

<ng-template #content role="document" let-modal="close">
    <div class="modal-header">
        <h5 class="modal-title" *ngIf="!isEdit">{{"Add Pin" | translate}}</h5>
        <h5 class="modal-title" *ngIf="isEdit">{{"Edit Pin" | translate}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
            <span aria-checked="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-3">
        <form [formGroup]="pinForm">
            <div class="form-group">
                <label for="name">{{"Pin" | translate}}</label>
                <input type="text" class="form-control" placeholder="{{'Enter Pin' |translate}}" formControlName="pin"
                    [ngClass]="{ 'is-invalid': submitted && f.pin.errors }">
                <div *ngIf="submitted && f.pin.errors" class="invalid-feedback">
                    <div *ngIf="f.pin.errors.required">{{"Pin is required" | translate}}</div>
                </div>
            </div>
        </form>
        <div class="text-right">
            <button type="submit" class="btn btn-own" (click)="onSubmitData()">{{"Save" | translate}}</button>
            <button type="button" class="btn btn-own-cancel ml-1" (click)="modal('close click')">{{"Cancel" |
                translate}}</button>
        </div>
    </div>
</ng-template>

<div class="mat-elevation-z8">
    <table class="table" mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"S.No" | translate}}</th>
            <td mat-cell *matCellDef="let element; let i = index;"> {{matPaginator.pageSize * matPaginator.pageIndex + i
                + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="pin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"Pin" | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.pin}} </td>
        </ng-container>

        <ng-container matColumnDef="rowActionToggle">
            <th mat-header-cell *matHeaderCellDef>{{"Status" | translate}}</th>
            <td mat-cell *matCellDef="let element" class="text-center">
                <button (change)="changeStatus(element)" class="tog_btn">
                    <label class="switch">
                        <input unchecked type="checkbox" *ngIf="element.active !== 1">
                        <input checked type="checkbox" *ngIf="element.active == 1">
                        <span class="slider"></span>
                    </label>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="rowActionIcon">
            <th mat-header-cell *matHeaderCellDef>{{"Action" | translate}}</th>
            <td mat-cell *matCellDef="let element" class="text-center">
                <button mat-button (click)="editPin(element,content)" class="edit_btn">
                    <img src="assets/images/edit_icon.svg"
                        onmouseover="this.src='assets/images/edit_hover_icon.svg'"
                        onmouseout="this.src='assets/images/edit_icon.svg'">
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell text-center" colspan="4">{{"No data found" | translate}}</td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 25]" showFirstLastButtons></mat-paginator>

</div>