<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h2 class="mb-3 mb-md-0">{{ 'Merchants' | translate }}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <mat-form-field appearance="standard">
      <mat-label>{{ 'Search' | translate }}</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="{{ 'Search' | translate }}" #input />
    </mat-form-field>
  </div>
  <div class="col-md-4"></div>
  @if (showAccept) {
    <div class="col-md-2 text-center">
      <p class="exp_btn_righ">
        <button (click)="exportIt()" class="export_btn">{{ 'Export' | translate }}</button>
      </p>
    </div>
  }
</div>

<div class="mat-elevation-z8">
  <table
    class="table"
    mat-table
    matTableExporter
    #exporter="matTableExporter"
    [dataSource]="dataSource"
    matSort
    [hiddenColumns]="[6, 7]"
  >
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'S.No' | translate }}</th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{ matPaginator.pageSize * matPaginator.pageIndex + i + 1 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="mobileNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Mobile Number' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.countryCode }} {{ element.mobileNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="crNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CR Number' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.crNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'User Name' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Email Id' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="merchantType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Merchant Type' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        @if (element.merchantType !== null) {
          <span>{{ element.merchantType }}</span>
        }
        @if (element.merchantType === null) {
          <span>{{ 'Not Approved' | translate }}</span>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>{{ 'Status' | translate }}</th>
      <td mat-cell *matCellDef="let element" class="text-center">
        @if (element.isApprove === 1) {
          <p style="color: green">{{ 'Approved' | translate }}</p>
        }
        @if (element.isApprove === 2) {
          <p style="color: red">{{ 'Rejected' | translate }}</p>
        }
        @if (element.isApprove === 0) {
          <button mat-button class="view_btn" (click)="approve(Package, element.id)">
            {{ 'approoo' | translate }}
          </button>
        }
        @if (element.isApprove === 0) {
          <button mat-button class="red_btn" (click)="reject(element.id)">
            {{ 'Reject' | translate }}
          </button>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef>{{ 'Active' | translate }}</th>
      <td mat-cell *matCellDef="let element" class="text-center">
        @if (element.isApprove !== 2) {
          <button (change)="changeActiveStatus(element)" class="tog_btn">
            <span class="switch">
              @if (element.active !== 1) {
                <input unchecked type="checkbox" />
              }
              @if (element.active === 1) {
                <input checked type="checkbox" />
              }
              <span class="slider"></span>
            </span>
          </button>
        }
        @if (element.isApprove === 2) {
          <button mat-button class="view_btn" (click)="approve(Package, element.id)">
            {{ 'approoo' | translate }}
          </button>
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-center" colspan="7">{{ 'No data found' | translate }}</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 25]" showFirstLastButtons></mat-paginator>
</div>

<ng-template #Package role="document" let-modal="close">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'Merchant Type' | translate }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
      <span aria-checked="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-3">
    <form [formGroup]="approveForm">
      <div class="form-group">
        <label for="merchantType">{{ 'Select Type of Merchant' | translate }}</label>
        <select
          class="form-control"
          class="form-control"
          formControlName="merchantType"
          id="merchantType"
          [ngClass]="{ 'is-invalid': submitted && approveF.merchantType.errors }"
        >
          <option value="" disabled>{{ 'Select Type' | translate }}</option>
          <option value="GOLD">{{ 'Gold' | translate }}</option>
          <option value="SILVER">{{ 'Silver' | translate }}</option>
          <option value="PLATINUM">{{ 'Platinum' | translate }}</option>
        </select>
      </div>
      @if (submitted && approveF['merchantType'].errors) {
        <div class="invalid-feedback">
          @if (approveF['merchantType'].errors['required']) {
            <div>{{ 'Select Type is required' | translate }}</div>
          }
        </div>
      }
    </form>
    <div class="text-right">
      <button type="submit" class="btn btn-own" (click)="onSubmitData()">{{ 'Save' | translate }}</button>
      <button type="button" class="btn btn-own-cancel ml-1" (click)="modal('close click')">
        {{ 'Cancel' | translate }}
      </button>
    </div>
  </div>
</ng-template>
