<div class="mt-4">
  <h5 class="cont_title">Privacy Policy English</h5>
  <form [formGroup]="addPrivacy">
    <angular-editor id="editor1" formControlName="enName" [config]="editorConfig"></angular-editor>
    <div class="text-left mt-3">
      <button type="submit" class="btn btn-own" (click)="onSubmit()">Save</button>
    </div>
  </form>
  <br /><br />
  <h5 class="cont_title">Privacy Policy Arabic</h5>
  <form [formGroup]="addPrivacy">
    <angular-editor id="editor1" formControlName="arName" [config]="editorConfig"></angular-editor>
    <div class="text-left mt-3">
      <button type="submit" class="btn btn-own" (click)="onSubmit()">Save</button>
    </div>
  </form>
</div>
