<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h2 class="mb-3 mb-md-0">{{ 'Recipes' | translate }}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'Search' | translate }}</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="{{ 'Search' | translate }}" #input />
    </mat-form-field>
  </div>
  <div class="col-md-3"></div>
  @if (showAccept) {
    <div class="col-md-4">
      <div style="text-align: end" class="add_popup_btn">
        <a href="javascript:void(0);" class="btn btn-own mb-2" (click)="openModal(content)">
          {{ 'Add Recipe' | translate }}
        </a>
      </div>
    </div>
  }
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">{{ 'Loading' | translate }}...</p>
</ngx-spinner>

<ng-template #content role="document" let-modal="close">
  <div class="modal-header">
    @if (!isEdit) {
      <h5 class="modal-title">{{ 'Add Recipe' | translate }}</h5>
    }
    @if (isEdit) {
      <h5 class="modal-title">{{ 'Edit Recipe' | translate }}</h5>
    }
    <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
      <span aria-checked="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-3">
    <form [formGroup]="receipeForm">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="categoryId">{{ 'Select Category' | translate }}</label>
            <select
              class="form-control"
              class="form-control"
              formControlName="categoryId"
              id="categoryId"
              [ngClass]="{ 'is-invalid': submitted && f.categoryId.errors }"
            >
              <option value="null" disabled>{{ 'Select Category' | translate }}</option>
              @for (item of getCategory; track item) {
                <option value="{{ item.id }}">{{ item.enName }} / {{ item.arName }}</option>
              }
            </select>
            @if (submitted && f.categoryId.errors) {
              <div class="invalid-feedback">
                @if (f.categoryId.errors.required) {
                  <div>{{ 'Category is required' }}</div>
                }
              </div>
            }
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="name">{{ 'Recipe Name' | translate }}</label>
            <input
              type="text"
              class="form-control"
              placeholder="{{ 'Recipe Name' | translate }}"
              formControlName="name"
              id="name"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
            />
            @if (submitted && f.name.errors) {
              <div class="invalid-feedback">
                @if (f.name.errors.required) {
                  <div>{{ 'Name is required' | translate }}</div>
                }
              </div>
            }
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="arName">{{ 'RecipeNameAr' | translate }}</label>
            <input
              type="text"
              class="form-control"
              placeholder="{{ 'Recipe Name' | translate }}"
              formControlName="arName"
              id="arName"
              [ngClass]="{ 'is-invalid': submitted && f.arName.errors }"
            />
            @if (submitted && f.arName.errors) {
              <div class="invalid-feedback">
                @if (f.arName.errors.required) {
                  <div>{{ 'Name is required' | translate }}</div>
                }
              </div>
            }
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <span class="form-label">{{ 'Ingredients' | translate }}</span>
            <div class="bord_line" [ngClass]="{ 'is-invalid': submitted && f.ingredients.errors }">
              <angular-editor id="editor1" formControlName="ingredients" [config]="editorConfig"></angular-editor>
            </div>
            @if (submitted && f.ingredients.errors) {
              <div class="invalid-feedback">
                @if (f.ingredients.errors.required) {
                  <div>{{ 'Ingredients is required' }}</div>
                }
              </div>
            }
          </div>
          <div class="form-group">
            <span class="form-label">{{ 'Steps' | translate }}</span>
            <div class="bord_line" [ngClass]="{ 'is-invalid': submitted && f.steps.errors }">
              <angular-editor id="editor2" formControlName="steps" [config]="editorConfig"> </angular-editor>
            </div>
            @if (submitted && f.steps.errors) {
              <div class="invalid-feedback">
                @if (f.steps.errors.required) {
                  <div>{{ 'Steps is required' | translate }}</div>
                }
              </div>
            }
          </div>
          <div class="form-group">
            <label for="customFile">{{ 'Recipe Video' | translate }}</label>
            <div class="img_upload">
              <label for="customFile">
                @if (videoUpp) {
                  <video [src]="videoUpp" width="300" height="200" controls></video>
                }
                @if (!videoUpp) {
                  <img class="upload-img" src="assets/images/upload_img.png" alt="Upload placeholder" />
                }
                <!-- <img class="upload-img" *ngIf="iconImg" src="{{iconImg}}" *ngIf="format==='image' && url" /> -->
              </label>
              @if (videoUpp) {
                <button class="btn btn-primary del_btn" (click)="removeVideo()">{{ 'Delete' | translate }}</button>
              }
              <input
                type="file"
                class="custom-file-input"
                id="customFile"
                formControlName="videos"
                (change)="uploadVideoFile($event)"
              />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <span class="form-label">{{ 'IngredientsAR' | translate }}</span>
            <div class="bord_line" [ngClass]="{ 'is-invalid': submitted && f.arIngredients.errors }">
              <angular-editor id="editor1" formControlName="arIngredients" [config]="editorConfig"></angular-editor>
            </div>
            @if (submitted && f.arIngredients.errors) {
              <div class="invalid-feedback">
                @if (f.arIngredients.errors.required) {
                  <div>{{ 'Ingredients is required' }}</div>
                }
              </div>
            }
          </div>
          <div class="form-group">
            <span class="form-label">{{ 'StepsAr' | translate }}</span>
            <div class="bord_line" [ngClass]="{ 'is-invalid': submitted && f.arSteps.errors }">
              <angular-editor id="editor2" formControlName="arSteps" [config]="editorConfig"> </angular-editor>
            </div>
            @if (submitted && f.arSteps.errors) {
              <div class="invalid-feedback">
                @if (f.arSteps.errors.required) {
                  <div>{{ 'Steps is required' | translate }}</div>
                }
              </div>
            }
          </div>
          <div class="form-group">
            <label for="imageFile">{{ 'Thumbnail Image' | translate }}</label>
            <div class="img_upload">
              <label for="imageFile">
                @if (!iconImg) {
                  <img class="upload-img" src="assets/images/upload_img.png" alt="Upload placeholder" />
                }
                @if (iconImg) {
                  <img class="upload-img" src="{{ iconImg }}" alt="Thumbnail preview" />
                }
              </label>
              @if (iconImg) {
                <button class="btn btn-primary del_btn" (click)="removeImg()">{{ 'Delete' | translate }}</button>
              }
              <input
                type="file"
                class="custom-file-input"
                id="imageFile"
                formControlName="thumbnailImage"
                (change)="uploadImageFile($event)"
              />
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="text-right">
      <button type="submit" class="btn btn-own" (click)="onSubmitData()">{{ 'Save' | translate }}</button>
      <button type="button" class="btn btn-own-cancel ml-1" (click)="modal('close click')">
        {{ 'Cancel' | translate }}
      </button>
    </div>
  </div>
</ng-template>

<div class="mat-elevation-z8">
  <table class="table" mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'S.No' | translate }}</th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{ matPaginator.pageSize * matPaginator.pageIndex + i + 1 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Recipe Name' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="videos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Video' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <video width="100" height="100" controls>
          <source src="{{ element.videos }}" type="video/mp4" />
        </video>
      </td>
    </ng-container>

    <ng-container matColumnDef="thumbnailImage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Thumbnail Image' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <img src="{{ element.thumbnailImage }}" alt="logo" class="badge_icon" />
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="ingredients">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"Ingredients" | translate}} </th>
    <td mat-cell *matCellDef="let element" [matMenuTriggerFor]="aboveMenu" [innerHtml]="element.ingredients">
      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <p class="des_p" [innerHtml]="element.ingredients"></p>
      </mat-menu>
    </td>
  </ng-container>

  <ng-container matColumnDef="steps">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"Steps" | translate}} </th>
    <td mat-cell *matCellDef="let element" [matMenuTriggerFor]="aboveMenu" [innerHtml]="element.steps">
      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <p class="des_p" [innerHtml]="element.steps"></p>
      </mat-menu>
    </td>
  </ng-container> -->

    <ng-container matColumnDef="rowActionToggle">
      <th mat-header-cell *matHeaderCellDef>{{ 'Status' | translate }}</th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <button (change)="changeStatus(element)" class="tog_btn">
          <span class="switch">
            @if (element.active !== 1) {
              <input unchecked type="checkbox" />
            }
            @if (element.active === 1) {
              <input checked type="checkbox" />
            }
            <span class="slider"></span>
          </span>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="rowActionIcon">
      <th mat-header-cell *matHeaderCellDef>{{ 'Action' | translate }}</th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <button mat-button (click)="editReceipe(element, content)" class="edit_btn">
          <img
            src="assets/images/edit_icon.svg"
            onmouseover="this.src = 'assets/images/edit_hover_icon.svg'"
            onmouseout="this.src = 'assets/images/edit_icon.svg'"
            alt="Edit"
          />
        </button>
        <button mat-button (click)="deleteReceipe(element.id)" class="dele_btn">
          <img
            src="assets/images/delete_icon.svg"
            onmouseover="this.src = 'assets/images/delete_hover_icon.svg'"
            onmouseout="this.src = 'assets/images/delete_icon.svg'"
            alt="Delete"
          />
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-center" colspan="6">{{ 'No data found' | translate }}</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 25]" showFirstLastButtons></mat-paginator>
</div>
